<form novalidate #f="ngForm" class="form-group">
    <div class="input-group">
        <input
            class="form-control"
            autofocus
            type="text"
            placeholder="Write something in English"
            name="text"
            #currentText
            (keyup)="0"
            (keyup.enter)="saveResult(currentText.value); currentText.value=''"
        />
        <span class="input-group-btn">
            <button
                type="button"
                (click)="saveResult(currentText.value); currentText.value=''"
                class="btn btn-default"
            >Save</button>
        </span>
    </div>
</form>
<div class="well">{{ currentText.value | piglatin}}</div>

<ul class="list-group">
    <li class="list-group-item my-animation" *ngFor="let sentence of this.savedValues">
    <div>{{ sentence | piglatin }}</div>
    <div class="small">{{ sentence }}</div>
    </li>
</ul>
